
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.questionText {
  text-align: center;
  width: 350px;
}

.orText {
  padding-top: 30px;
 
  height: 150px;
  text-align: center;
  width: 50px;
}

.splitQuestionText {
  padding: 20px;
  border: 4px solid #84c0a2;
  height: 150px;
  text-align: center;
  width: 170px;
}

.question {
  width: 100%;
  max-width: 590px;
  height: 180px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 5px;
  cursor: pointer;
}

.avatar_container {
  width: 100%;
  height: 180px;
  max-width: 590px;
  display: flex;
  flex-flow:column nowrap;
  cursor: pointer;
}

.side {
  height: 180px;
  

}

.bottom_question {
  position: relative;
  bottom: 60px;
  text-align: center
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

ul {
  padding-left: 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.right {
  float: right;
}

.avatar {
  height: 100px;
  border-radius: 35px;
  margin: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}